{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="{% static 'capp/img/birds.svg' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'capp/reviews.css' %}">
  <link rel="stylesheet" href="{% static 'capp/variables.css' %}">
  <link rel="stylesheet" href="{% static 'capp/components.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap" rel="stylesheet">
  <title>Отзывы | Wind</title>
</head>
<body>
  <div id="root"></div>
  <script>
  	let logo = "{% static 'capp/img/birds.svg' %}";
  	let phone = "{% static 'capp/img/phone.svg' %}";
  	let tg = "{% static 'capp/img/tg.svg' %}";
  	let vk = "{% static 'capp/img/vk.svg' %}";
  	let ig = "{% static 'capp/img/ig.svg' %}";
  	let btc = "{% static 'capp/img/btc.svg' %}";
  	let back = "{% static 'capp/img/back.svg' %}";
  	let sb = "{% static 'capp/img/sb.svg' %}";
  	let bank1 = "{% static 'capp/img/bank1.svg' %}";
  	let sb2 = "{% static 'capp/img/sb2.svg' %}";
  	let kiwi = "{% static 'capp/img/kiwi.svg' %}";
  </script>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>
<script type="module" src="{% static 'capp/reviews.js' %}"></script>
</body>
</html>
